html{
  scroll-behavior: smooth;
}
.fs-54 {
  font-size: 54pt;
}

.fs-18 {
  font-size: 18pt;
}

.text-pink{
color: #A36D89;
}

.bg-menu{
  background-color: #ffc0e0;
}

.bg-pink{
  background: linear-gradient(#F9F0F5,#ffc0e0);
}

.bg-rodape{
  background:  linear-gradient(#ffc0e0,#ffb0d7);
}
