@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Great+Vibes&family=Kanit:ital@1&family=Open+Sans:ital,wght@0,800;1,300;1,500&family=Roboto+Mono:ital,wght@0,100;1,100&display=swap");
html{
  scroll-behavior: smooth;
}
.fs-54 {
  font-size: 54pt;
}

.fs-18 {
  font-size: 18pt;
}

.text-pink{
color: #dda0bf;
}

.text-white{
  color: #fcf4f8;
}

.bg-menu{
  background-color: #5c5b5b;
}

.bg-pink{
  background: linear-gradient(#F9F0F5,#ffc0e0);
}

.bg-rodape{
  background:  linear-gradient(#181818,#000000);
}
