html{
  scroll-behavior: smooth;
}
.fs-54 {
  font-size: 54pt;
}

.fs-18 {
  font-size: 18pt;
}

.text-pink{
color: #941757;
}

.bg-menu{
  background-color: rgba(245, 236, 240, 0.829)
}

.bg-pink{
  background: linear-gradient(#F9F0F5,#ffc0e0);
}

.bg-rodape{
  background:  linear-gradient(#ffc0e0,#ffb0d7);
}

.btn-yes button{
  align-self: flex-end;
  font-size: 24px;
  font-weight: 400;
  padding:8px 16px;
  background: #960052;
  border-radius: 100px;
}
