<div class="container-fluid">

  <div class="row bg-secondary d-flex align-items-center"> <!--local de alterar a cor-->

    <div class="col-md-6">

      <div class="row d-flex justify-content-center">
        <div class="col-md-6 text-white">
          <h1 class="fs-54">Seja bem vinde!</h1>
          <h5 class="fs-18">Escreva aqui seu post. </h5>
        </div>
      </div>

      <div class="row d-flex justify-content-center mt-3 mb-5">
        <div class="col-md-6">
          <button class="btn btn-light">Nova postagem</button>
          <a class="bt btn-outline-light mr-2" href="">Ver postagens</a>
        </div>
      </div>

    </div>

    <div class="col-md-6 d-flex justify-content-center">
      <img src="https://64.media.tumblr.com/631feaa90c3ac6194cb871abc4a5d19a/7d4b8cc752d58761-91/s2048x3072/cb995b8c43fea1cd960bbf2888735fbfa6bd9ccf.png" alt="" width="700px" height="700px">

    </div>
  </div>

</div>

<div class="container mb-5 mt-5">

  <nav>
    <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
      <button class="nav-link active text-secondary font-weight-bold" id="allPosts-tab" data-bs-toggle="tab" data-bs-target="#allPosts" type="button" role="tab" aria-controls="allPosts" aria-selected="true">Todas as postagens</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Minhas postagens</button>
      <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Postagens por tema</button>
    </div>
  </nav>

  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active text-secondary font-weight-bold" id="allPosts" role="tabpanel" aria-labelledby="allPosts-tab">...</div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
  </div>

</div>
